apiVersion: apps/v1
kind: Deployment
metadata:
  name: unipro-site
spec:
  selector:
    matchLabels:
      app: unipro-site
  replicas: 3
  template:
    metadata:
      labels:
        app: unipro-site
    spec:
      containers:
        - name: app
          image: registry.uniproject.jp/official/unipro-site:4.1.8
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: default-port
          resources:
            limits:
              memory: "3Gi"
              cpu: "2000m"
            requests:
              memory: "1Gi"
              cpu: "1000m"
          readinessProbe:
            initialDelaySeconds: 30
            periodSeconds: 20
            httpGet:
              path: /
              port: default-port
              httpHeaders:
                - name: X-k8s-Header
                  value: readiness
          envFrom:
            - secretRef:
                name: api-secret
          env:
            - name: TZ
              value: Asia/Tokyo
      imagePullSecrets:
        - name: internal-harbor
