apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-to-www
  namespace: unipro-site
spec:
  redirectRegex:
    # httpでもhttpsでもuniproject.jpに来たら
    regex: ^https?://uniproject\.jp/(.*)
    # www付きに飛ばす
    replacement: https://www.uniproject.jp/${1}
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: unipro-site
spec:
  entryPoints:
    - websecure
    - web
  middlewares:
    - name: redirect-to-www
      namespace: unipro-site
  routes:
    - kind: Rule
      match: Host(`www.uniproject.jp`) && PathPrefix(`/`)
      observability:
        accessLogs: true
        metrics: true
        tracing: true
      priority: 1
      services:
        - kind: Service
          name: unipro-site
          passHostHeader: true
          port: 80
          responseForwarding:
            flushInterval: 1ms
          scheme: http
          sticky:
            cookie:
              httpOnly: true
              name: cookie
              secure: true
          strategy: wrr
          weight: 10
    - kind: Rule
      match: Host(`uniproject.jp`) && PathPrefix(`/`)
      observability:
        accessLogs: true
        metrics: true
        tracing: true
      priority: 1
      services:
        - kind: Service
          name: unipro-site
          passHostHeader: true
          port: 80
          responseForwarding:
            flushInterval: 1ms
          scheme: http
          sticky:
            cookie:
              httpOnly: true
              name: cookie
              secure: true
          strategy: wrr
          weight: 10
  tls:
    certResolver: cf-prod
    domains:
      - main: uniproject.jp
      - main: www.uniproject.jp
